
.top_nav {
  height: 10vh;
  width: 100%;
  text-align: right;
}

.top_nav a:link{
  color: #6a707a;
  text-decoration: none;
}

.top_nav a:hover{
  color: #000000;
  text-decoration: underline;
}

.top_nav a:visited{
  color: #6a707a;
  text-decoration: none;
}

.main {
  width:100%;
}

input {
  width:500px;
  height:48px;
  border: 1px solid #F2F2F2;
  box-shadow: 1px 1px 1px 1px #ccc;
  font: 16px Arial, sans-serif;
}

input::placeholder {
  color: #9ea6b2;
}

input[type=submit] {
    width:180px;
    height: 30px;
}

.buttons {
  width: 500px;
  margin:auto;
}

#btn-left {
    margin-left: 55px;
}

.float-left {
    float: left;
}
.search-btn {
    color: #676767;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 10px;
}

#btn-right {
    margin-right: 55px;
}
.float-right {
    float: right;
}
.search-btn {
    color: #676767;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 10px;
}
